### python에서 제공하는 문자열 내장함수

In [1]:
# 문자열의 길이를 출력 
a = 'Hello'
b = ' Hello '

In [2]:
print(len(a))
print(len(b))

5
7

In [3]:
## 문자의 형태를 변환 (대,소문자 변환)
a = "Hello world"

# 문자를 모두 대문자로 변환 
print(a.upper())
# 문자를 모두 소문자로 변환
print(a.lower())
# 문자의 대문자를 소문자로 소문자를 대문자로 변환
print(a.swapcase())
# 단어의 첫글자를 대문자로 변환
print(a.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [4]:
_list = [4, 3, 2, 6]

print(_list.sort())

None

In [5]:
print(a)

Hello world

In [6]:
a = a.upper()
print(a)

HELLO WORLD

In [8]:
## 문자열의 좌우의 공백을 제거 하는 함수 
test_text = "   Hello  World   "
test_text

'   Hello  World   '

In [9]:
## 양쪽의 공백을 모두 제거  : strip()
test_text.strip()

'Hello  World'

In [10]:
## 좌측의 공백을 제거 : lstrip()
test_text.lstrip()

'Hello  World   '

In [11]:
## 우측의 공백을 제거  : rsrtip()
test_text.rstrip()

'   Hello  World'

In [12]:
test = '$100'
print(type(test))

<class 'str'>

In [15]:
print(test)
test = test.lstrip('$')
print(test)
print(type(test))
test = int(test)
print(test)
print(type(test))

$100
100
<class 'str'>
100
<class 'int'>

In [16]:
a = 'Hello world'
b = ' Hello WORLD '

In [21]:
b = b.strip()
a = a.upper()
b = b.upper()
print(a)
print(b)

HELLO WORLD
HELLO WORLD

In [22]:
a == b

True

In [24]:
## 특정 문자를 다른 문자로 치환 하는 함수 
## replace({특정문자}, {치환할 문자})
a.replace('HELLO', 'HI')

'HI WORLD'

In [25]:
a = '상 품 A'
b = '상품a'

In [32]:
# a변수의 데이터의 문자열 사이의 공백을 제거 
a = a.replace(' ', '')

In [28]:

# b변수의 데이터는 모두 대문자로 변환
b = b.upper()

In [33]:
a == b

True

In [34]:
# 특정 문자열을 기준으로 문자열을 나눠주는 함수 
# split() -> 인자 값을 기본 값으로 공백
a = 'a b c d'
print(a)
print(a.split())

a b c d
['a', 'b', 'c', 'd']

In [35]:
b = '1/2/3/4/5/6'
print(b.split('/'))

['1', '2', '3', '4', '5', '6']

In [36]:
sql_data = """
    select 
    * 
    from 
    user
"""
sql_data2 = """
    insert 
    into 
    user 
    values 
    ('test', '1234')
"""

In [45]:
test =  sql_data.strip()

In [43]:
_list = [1,2,3,4]

In [46]:
test2 = _list.reverse()

In [48]:
print(test.split())
print(test2.sort())

['select', '*', 'from', 'user']

AttributeError: 'NoneType' object has no attribute 'sort'

In [50]:
sql_data2.strip().split()[0] == 'select'

False

In [51]:
sql_data3 = """
    SELECT 
    * 
    FROM 
    user
"""

In [52]:
sql_data3.lower().strip().split()[0] == 'select'

True

In [53]:
sql_data3.lower().strip().startswith('select')

True

### 일반 함수
- 어떠한 입력값을 가지고 작업을 실행하고 결과물을 되돌려주는 기능

In [54]:
def func_1(a, b):
    result = a + b
    return result

def func_2(a, b):
    result = a + b
    print(result)

In [57]:
test = func_1(3, 6)

In [58]:
test2 = func_2(3, 6)

9

In [59]:
print(test)
print(test2)

9
None

In [60]:
## 인자의 개수가 가변인 경우 함수 생성 
def func_3(*args):
    print(type(args))
    print(args)
    print(len(args))

In [61]:
func_3(1, 2, 3, 4, 5)
func_3(6, 10, 'test')

<class 'tuple'>
(1, 2, 3, 4, 5)
5
<class 'tuple'>
(6, 10, 'test')
3

In [62]:
## 매개변수 2개
## 두개의 매개변수 중 작은 값을 되돌려주는 함수 
def func_4(a, b):
    if a < b:
        return a
    else:
        return b

In [63]:
func_4(10, 4)

4

In [64]:
func_4(5, 7)

5

In [65]:
min(10, 5, 8, 13, 4, 6)

4

#### 함수 문제 
- min() 함수를 똑같이 만들어보자
    - 인자의 개수는 가변
    - 지역변수 result를 생성하여 인자의 첫번째 값을 대입
    - 각 인자의 값들을 비교하여 가장 작은 값을 지역 변수 result에 대입
    - result를 되돌려준다.

In [68]:
def func_5(*a):
    result = a[0]
    #case1
    # for i in range(1, len(a), 1):
    #     if result > a[i]:
    #         result = a[i]
    #case2
    for i in a[1:]:
        if result > i:
            result = i

    return result

In [69]:
func_5(3, 5, 7, 1, 2)

1

In [70]:
func_5(1)

1

In [73]:
## 평균 값을 되돌려주는 함수 생성 
## 인자의 개수는 가변 
def func_6(*args):
    result = 0
    cnt = 0
    for i in args:
        result += i
        cnt += 1
    # result = result / cnt
    result /= cnt
    return result

In [74]:
func_6(1,2,3,4,5)

3.0

In [75]:
# 매개변수 2개를 생성
# 첫번째 매개변수는 최솟값, 평균을 선택하는 변수
# 두번째 매개변수는 인자의 개수가 가변 
def func_7(flag, *args):
    if flag == 'min':
        result = args[0]
        for i in args[1:]:
            if result > i:
                result = i
    elif flag == 'mean':
        result = 0
        cnt = 0
        for i in args:
            result += i
            cnt += 1
        result /= cnt
    return result

In [76]:
print(func_7('mean', 1, 2, 3, 4, 5))
print(func_7('min', 1, 2, 3, 4, 5))

3.0
1