In [ ]:
!pip install requests

In [1]:
import requests

In [ ]:
## 웹 서버에 요청을 보낸다. 
## get 방식을 이용한 요청을 보낸다. 
url = "https://www.google.com"

response = requests.get(url)

In [ ]:
print(response)
print(response.text)

In [ ]:
## api 주소
url = "http://172.16.12.155:8080/corona"
## 해당하는 주소에서 필수적으로 보내야되는 요청 변수 
_params = {
    'serviceKey' : 'aaa', 
    '_limit' : 50
}
response = requests.get(
    url, 
    params = _params
)

In [ ]:
url2 = "http://172.16.12.155:8080/corona?serviceKey=aaa&_limit=50"

response2 = requests.get(url2)

In [ ]:
print(response)
print(response2)

In [ ]:
print(type(response.text))

In [ ]:
print(type(response2.content))

In [ ]:
import json

In [ ]:
data = json.loads(response.text)

In [2]:
import pandas as pd

In [ ]:
pd.DataFrame(data)

In [3]:
## 공공데이터포털에서 데이터를 수집 
url  = "https://apis.data.go.kr/1741000/RegistrationPopulationByRegion/getRegistrationPopulationByRegion"

_params = {
    'ServiceKey' : "dtbWOdJ/Cz5HE0DGLU+CRPe7pOW0NIQBUcGEqsHZaTRiYCI/5+zugwzQjcvuId7NPdg6rUiW+ft3fm7yqyD4pw==",
    'pageNo' : 1, 
    'numOfRows' : 10
}

res = requests.get(url, params= _params)

In [ ]:
print(res)

In [ ]:
print(res.text)

In [ ]:
## xml데이터를 dict 형태로 변환 
# 라이브러리 설치 
!pip install xmltodict

In [4]:
import xmltodict

In [5]:
data  = xmltodict.parse(res.content)

In [ ]:
type(data)

In [ ]:
from pprint import pprint

In [6]:
data = data['RegistrationPopulationByRegion']['row']

In [7]:
df = pd.DataFrame(data)
df.head()

  wrttimeid seq regi population_tot population_man population_female   houshol
0      2008   1    계       49540367       24822897          24717470  19005339
1      2008   2   서울       10200827        5061809           5139018   4097562
2      2008   3   부산        3564577        1773154           1791423   1311724
3      2008   4   대구        2492724        1246873           1245851    894969
4      2008   5   인천        2692696        1356473           1336223   1014755

1. seq 컬럼을 제거 
2. 컬럼의 이름을 변경 -> ['년도', '지역','전체 인구수', '남자 인구수', '여자 인구수', '가구 수']

In [8]:
# 특정 컬럼의 제거 
df.drop('seq', axis=1, inplace=True)

In [9]:
df.columns

Index(['wrttimeid', 'regi', 'population_tot', 'population_man',
       'population_female', 'houshol'],
      dtype='object')

In [10]:
# 컬럼의 이름을 변경 

# case1 : rename()
df.rename(
    columns= {
        "wrttimeid" : "년도", 
        'regi' : '지역', 
        'population_tot' : '전체 인구수', 
        'population_man' : '남자 인구수', 
        'population_female' : '여자 인구수', 
        'houshol' : '가구 수'
    }
)

     년도  지역    전체 인구수    남자 인구수    여자 인구수      가구 수
0  2008   계  49540367  24822897  24717470  19005339
1  2008  서울  10200827   5061809   5139018   4097562
2  2008  부산   3564577   1773154   1791423   1311724
3  2008  대구   2492724   1246873   1245851    894969
4  2008  인천   2692696   1356473   1336223   1014755
5  2008  광주   1422702    705817    716885    513021
6  2008  대전   1480895    741611    739284    531682
7  2008  울산   1112407    572815    539592    389735
8  2008  경기  11292264   5690673   5601591   4284475
9  2008  강원   1508575    759282    749293    606950

In [11]:
df.columns = ['년도', '지역', '전체 인구수', '남자 인구수', '여자 인구수', '가구 수']

In [ ]:
df.head()

In [62]:
## 데이터프레임을 파일로 저장 
## 컴퓨터의 입장 : DataFrame형식의 데이터를 csv형식으로 변환
df.to_csv("pop.csv", index=False)

In [61]:
df.to_excel('pop.xlsx', index=False)

In [ ]:
### 데이터프레임을 sql에 저장 
!pip install sqlalchemy

In [12]:
from sqlalchemy import create_engine
import pymysql

In [13]:
db_connection_str = \
    "mysql+pymysql://ubion:1234@172.16.12.155"
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [14]:
df.to_sql(
    name = 'pop_table', 
    con = db_connection, 
    if_exists= 'replace', 
    index=False, 
    schema='ubion'
)

10