### python과 mysql 연동
1. 외부의 라이브러리 설치(pymysql)
2. 라이브러리 로드 
3. sql 서버의 정보를 입력 
4. sql 서버에 접속
5. sql 쿼리문을 작성해서 sql 서버에 쿼리문을 요청
6. 쿼리문에 따른 응답 메시지

In [ ]:
# 라이브러리 로드 
import pymysql

In [ ]:
## sql 서버의 정보를 입력 -> 접속
## 내 컴퓨터 접속
_db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='root', 
    password='1234', 
    db='ubion10'
)

In [ ]:
## 외부 컴퓨터 접속 
_db2 = pymysql.connect(
    host='moons-86.iptime.org', 
    port = 3306, 
    user='ubion', 
    password='1234', 
    db ='ubion'
)

In [ ]:
!pip install crypography

In [ ]:
## cursor 생성
# DictCursor 입력시 : 받아오는 데이터의 형태는 dict
cursor = _db.cursor(pymysql.cursors.DictCursor)
# 기본 값 사용 : 받아오는 데이터의 형태는 tuple
cursor2 = _db.cursor()

In [ ]:
sql = """
    select * from emp
"""

In [ ]:
## DB server에 요청 
cursor.execute(sql)

In [ ]:
data = cursor.fetchall()

In [ ]:
cursor2.execute(sql)

In [ ]:
data2 = cursor2.fetchall()

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(data)

In [ ]:
pd.DataFrame(data2)

In [ ]:
## insert sql 쿼리문 작성 
sql  = """
    insert into 
    user 
    values 
    ('test', '1234', 'kim', 'seoul')
"""

In [ ]:
cursor.execute(sql)

In [ ]:
_db.commit()

In [ ]:
sql2 = """
    select * from user
"""

In [ ]:
cursor.execute(sql2)

In [ ]:

cursor.fetchall()

In [ ]:
input_id = 'test2'
input_pass = '1111'
input_name = 'park'
input_loc = 'busan'

insert_sql = f"""
    insert into 
    user 
    values
    ('{input_id}', '{input_pass}', '{input_name}', '{input_loc}')
"""

In [ ]:
print(sql.replace(" ", ""))
print(insert_sql.replace(" ", ""))

In [ ]:
cursor.execute(insert_sql)

In [ ]:
input_id = 'test4'
input_pass = '0000'
input_name = 'lee'
input_loc = 'busan'

insert_sql2 = """
    insert into
    user 
    values 
    (%s, %s, %s, %s)
"""

data_list = [input_id, input_pass, input_name, input_loc]

In [ ]:
print(data_list)

In [ ]:
cursor.execute(insert_sql2, data_list)

In [ ]:
select_sql = """
    select * from user
"""

In [ ]:
cursor.execute(select_sql)
cursor.fetchall()

In [ ]:
_db.commit()

In [ ]:
### 입력값을 받아서 데이터베이스에 insert
input_id = input("ID를 입력하시오")
input_pass = input("패스워드를 입력하시오")
input_name = input('이름을 입력하시오')
input_loc = input('사는 지역을 입력하시오')

insert_sql3 = """
    insert into 
    user 
    values 
    (%s, %s, %s, %s)
"""

data_list = (input_id, input_pass, input_name, input_loc)

cursor.execute(insert_sql3, data_list)

In [ ]:
input_id = input('ID를 입력하시오')
input_pass = input('변경할 패스워드를 입력하시오')

update_sql = """
    update 
    user 
    set 
    password = %s
    where 
    id = %s
"""
data_list = [input_pass, input_id]
cursor.execute(update_sql, data_list)

In [ ]:
## select 구문 전용 함수를 생성
## 매개변수 2개 : sql쿼리문, 
#             입력 데이터 리스트(입력이 존재하지 않을 경우도 있다.)
## select 구문은 execute() -> fetchall()

def select_query(sql, *values):
    print(values)
    cursor.execute(sql, values)
    result = cursor.fetchall()
    # result = pd.DataFrame(result)
    return result

In [ ]:
def select_query2(sql, values=[]):
    print(values)
    cursor.execute(sql, values)
    result = cursor.fetchall()
    # result = pd.DataFrame(result)
    return result

In [ ]:
select_sql = """
    select * from user
"""

In [ ]:
# 함수를 호출 
select_query(select_sql)

In [ ]:
select_sql = """
    select * from user 
    where id = %s
"""

In [ ]:
data = 'test'

In [ ]:
select_query(select_sql, data)

In [ ]:
### %s 가 무엇인가?
### %f : 실수형 데이터 
### %d : 정수형 데이터 
### %s : 문자열 데이터
### 문자와 변수를 결합
a = "kim"
print("이름은 " + a + "입니다")
# f-string 사용
print(f"이름은 {a}입니다")
# {}, format()
print("이름은 {}입니다".format(a))
# %s 
print("이름은 %s입니다"%(a))

In [ ]:
name = 'kim'
age = 20
print("이름은 "+name+"이고 나이는 "+str(age)+"입니다")
print(f"이름은 {name}이고 나이는 {age}입니다.")
print("이름은 {}이고 나이는 {}입니다".format(name, age))
print("이름은 {1}이고 나이는 {0}입니다".format(age, name))
print("이름은 %s이고 나이는 %d입니다"%(name, age))

In [ ]:
query = """
    select * from user where id = %s and password = %s
"""

In [ ]:
## values 매개변수가 가변 인자를 허용
select_query(query, 'test', '1234')

In [ ]:
## values 매개변수가 가변 인자를 허용하지 않는 경우
select_query2(query, ['test', '1234'])

In [94]:
### select구문을 제외한 나머지 CUD구문을 사용하는 함수 
def cud_query(sql, *values):
    cursor.execute(sql, values)
    # DB server에 데이터를 저장 (commit)
    _db.commit()
    return "Query OK"

In [95]:
query = """
    delete 
    from user 
    where id = %s
"""

In [96]:
cud_query(query, "test")

'Query OK'