In [ ]:
# 라이브러리 로드 
import pandas as pd

In [ ]:
# 1차원 데이터인 Series 생성
pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [ ]:
print(pd_series)

In [ ]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [ ]:
print(pd_series2)

In [ ]:
## Series라는 Class
## 변수 + 함수
## 변수 뭐가 있을것인가?
## values, index
print(pd_series2.values)

In [ ]:
print(pd_series2.index)

In [ ]:
a = 10

In [ ]:
pd_series2.index = ['아아', '라떼', '모카', '카푸치노']

In [ ]:
print(pd_series2)

In [ ]:
## 라떼의 가격을 변경 
pd_series2.values[1] = 6300

In [ ]:
print(pd_series2)

In [ ]:
data = {
    '아아' : 5000, 
    '라떼' : 6300,
    '모카' : 6500, 
    '카푸치노' : 6500
}

In [ ]:
data['모카'] = 7000

In [ ]:
data

In [ ]:
pd_series2['모카'] = 7000

In [ ]:
print(pd_series2)

In [ ]:
## Series를 생성할때 value의 개수와 index의 개수가 다른 경우(에러)
_val = [5000, 6000, 6500, 6500]
_index = ['A', 'B', 'C']

pd.Series(_val, index=_index)

In [ ]:
# 2차원 데이터 DataFrame 생성
_val = [
    [1,2,3],
    [4,5,6], 
    [7,8,9]
]
df = pd.DataFrame(_val)

In [ ]:
print(df)

In [ ]:
df

In [ ]:
print(df.values)

In [ ]:
print(list(df.index))

In [ ]:
print(df.columns)

In [ ]:
## 컬럼의 이름을 변경 
## A B C
df.columns = ['A', 'B', 'C']

In [ ]:
df

In [ ]:
## 컬럼중 B 컬럼의 이름을 b 변경
df.columns = ['A', 'b', 'C']

In [ ]:
df.rename(columns={
    'A' : 'a', 
    'C' : 'c'
}, inplace=True)

In [ ]:
df

In [ ]:
df = df.rename(
    columns={
        'a' : 'A'
    }, 
    inplace = True
)

In [ ]:
df

In [ ]:
res = 0
def func_1(a, b, inplace = False):
    result = a + b
    if inplace:
        globals()['res'] = result
    else:
        return result

In [ ]:
print(res)

In [ ]:
res = func_1(5, 3)

In [ ]:
print(res)

In [ ]:
func_1(10, 5, inplace=True)

In [ ]:
print(res)

In [ ]:
res = func_1(20, 10, inplace=True)

In [ ]:
print(res)

In [ ]:
## list + dict 혼합된 2차원 데이터를 이용하여 DataFrame 생성
data = {
    'name' : ['a', 'b', 'c'], 
    'age' : [20, 30, 40]
}
df2 = pd.DataFrame(data)
df2

In [ ]:
data2 = [
    {
        'name' : 'a', 
        'age' : 20
    }, 
    {
        'name' : 'b', 
        'age' : 30
    }
]
df3 = pd.DataFrame(data2)
df3

### 외부의 데이터 파일 로드 
- csv 
    - pandas 안에 있는 read_csv({파일의 경로}) 함수 호출
- json 
    - read_json({파일의 경로})
- excel
    - read_excel({파일의 경로})
    - 추가로 라이브러리 설치 필요한 있는 경우 존재
- xml 
    - read_xml({파일의 경로})
- excel을 제외하고 나머지 데이터파일에서 사용이 되는 매개변수 
    - encoding 매개변수 
        - 기본값이 UTF-8
        - 데이터에 한글이 포함되어 있는 경우 에러 발생 확률
            - CP949, EUC-KR 인자값을 생성
- 공용 매개변수 
    - index_col
        - data 파일에서 특정 컬럼을 인덱스로 변환해서 데이터프레임 생성
- 파일 경로 
    - 절대경로, 상대경로 가능

In [ ]:
# 상대 경로 사용시 
# 상위 폴더로 이동 -> 상위 폴더로 이동 -> csv 폴더 이동 -> 파일
df = pd.read_csv("../../csv/AAPL.csv")

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [75]:
## json파일을 로드 
df2 = pd.read_json('../../csv/2021/202101_expense_list.json')

In [ ]:
df2.head(1)

In [77]:
df3 = pd.read_excel('../../csv/2021/202101_expense_list.xlsx')

In [ ]:
!pip install openpyxl

In [79]:
pd.read_csv('../../csv/주민등록.csv', encoding='CP949')

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25