In [6]:
import invest

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../csv/AAPL.csv")

In [9]:
test = invest.Invest(df)

In [10]:
test.df

            Adj Close
Date
1981-08-10        NaN
1981-08-21   0.287367