In [ ]:
import pandas as pd

In [ ]:
uriage = pd.read_csv('../../csv/uriage.csv')

In [ ]:
uriage.head(10)

### 데이터의 정형화
1. item_name의 value들을 모두 대문자로 변경 
    - 문자열 내장함수에서 대문자로 변경하는 함수 (upper())
2. item_name의 value의 문자 사이에 있는 공백을 제거 
    - 문자열 내장함수에서 문자열 좌우의 공백을 제거하는 함수 ( strip() )
    - 문자열 내장함수에서 문자 사이의 공백을 제거 ( replace(" ", "") )

In [ ]:
## 빈도수를 출력하는 함수
uriage['item_name'].value_counts()

In [ ]:
## Series데이터에서는 upper() 사용이 불가능
uriage['item_name'].upper()

In [ ]:
uriage.loc[2, 'item_name'].upper()

In [ ]:
df = uriage.copy()

In [ ]:
# case1 (for문)
# 데이터프레임에서 item_name의 value를 하나씩 추출하여 
# upper()를 이용하여 대문자 변환한 뒤 비어있는 리스트에 추가 
data_list = []
for i in range(len(df)):
    # i가 의미하는것은? -> 인덱스의 값  / 위치
    data = df.loc[i, 'item_name'].upper()
    data_list.append(data)

data_list

In [ ]:
## 데이터프레임에서 item_name의 value를 하나씩 추출하여 대문자로 변환
## 해당하는 위치에 데이터를 대입
for i in range(len(df)):
    data = df.loc[i, 'item_name'].upper().replace(" ", "")
    # 해당하는 위치에 data을 대입
    df.loc[i, 'item_name'] = data

In [ ]:
df.head(5)

In [ ]:
df['item_name'].value_counts()

In [ ]:
## 특정 1차원 데이터에서 중복된 데이터를 제거 
_list = df['item_name'].to_list()

In [ ]:
_list2 = ['A', 'B', 'A', 'C']

## 리스트에서 중복된 데이터를 제거하고 새로운 리스트 생성 
_list3 = []

for i in range(len(_list2)):
    # i가 의미하는것은?  list의 인덱스
    # print(i)
    # print(_list2[i])
    # _list3에 _list2[i]이 존재하지 않는다면?
    if _list2[i] not in _list3:
        _list3.append(_list2[i])
_list3

In [ ]:
_list4 = []
for i in _list2:
    # print(i)
    if i not in _list4:
        _list4.append(i)
_list4

In [ ]:
## 집합 형태의 데이터 변환
list(set(_list2))

In [ ]:
## map() 함수
## map( 함수(일반함수, lambda함수) ,  1차원 데이터 )
def change(x):
    return x.lower()

list(map(
    change, 
    _list2
))

In [ ]:

_list5 = []
for i in _list2:
    data = change(i)
    _list5.append(data)
_list5

In [ ]:
## map + lambda

list(
    map(
        lambda x : x.lower(), 
        _list2
    )
)

In [ ]:
df2 = uriage.copy()

In [ ]:
df2.head(5)

In [ ]:
## map함수를 이용하여 공백제거 대문자 변환
df2['item_name']

def change(x):
    # print(type(x))
    return x.upper().replace(" ", "")

list(map(
    change, 
    df2['item_name']
))

In [ ]:
df2['item_name'].map(change)

In [ ]:
df2['item_name'].map(
    lambda x : x.upper().replace(" ", "")
)

In [ ]:
df2['item_name'].replace(" ", "")

In [ ]:
a = "Hello"

for i in a:
    print(i)

In [ ]:
def custom_replace(data,origin, new):
    # 첫번째 매개변수는 변경시킬 문자열
    # 두번째 매개변수는 기존 문자열
    # 세번째 매개변수는 기존의 문자열을 변경할 문자열
    result = ""
    for i in data:
        if i == origin:
            result += new
        else:
            result += i
    return result

In [ ]:
custom_replace('abcde', 'a', 'A')

In [ ]:
def custom_replace2(data, origin, new):
    result = []
    for i in data:
        if i == origin:
            result.append(new)
        else:
            result.append(i)
    return result

In [ ]:
data = ['a', 'b', 'c', 'd']
custom_replace2(data, 'a', 'A')

In [ ]:
data2 = ['abcd', 'efg']
custom_replace2(data2, 'a', 'A')

In [ ]:
df2['item_name'].replace('상품A', 'A')

In [ ]:
df2['item_name'] = df2['item_name'].str.upper().str.replace(" ", "")

In [ ]:
## 중복 데이터 제거 
df2['item_name'].unique()

In [ ]:
import numpy as np

In [ ]:
## item_name이 상품A이고 item_price가 결측치가 아닌 데이터 필터
flag = df['item_name'] == '상품A'
flag_null = df['item_price'].isna()
df.loc[flag & ~flag_null,]

### 결측치를 다른 값들로 대체 
1. 상품명에 따라 가격이 고정값을 이룬다. 
2. 결측치를 상품명에 맞춰서 해당 상품의 결측치가 아닌 상품 가격들의 평균값을 대체 

    - ex) 상품A인 데이터 중 item_price가 결측치가 아닌 데이터들의 평균 값을 구하고 해당 값은 상품A의 데이터 중 item_price가 결측치인 부분에 대입

In [ ]:
flag = df['item_name'] == '상품A'
flag_null = df['item_price'].isna()

In [ ]:
## 상품A이고 가격이 결측치가 아닌 데이터
a_mean = df.loc[flag & ~flag_null, 'item_price'].mean()

In [ ]:
## 상품A이고 가격이 결측치인 데이터 
df.loc[flag & flag_null , 'item_price'] = a_mean
# df.loc[flag & flag_null , ].fillna(a_mean)

In [ ]:
df.loc[flag&flag_null, ]

In [ ]:
def fill_price(result, _name):
    ## _df를 copy() 복사한다.
    # result = _df.copy()
    ## 조건식 생성
    flag = result['item_name'] == _name
    flag_null = result['item_price'].isna()

    ##flag와 flag_null의 부정이 모두 만족하는 item_price의 평균
    mean_data = result.loc[flag & ~flag_null, 'item_price'].mean()
    ##위에서 구해진 평균 데이터를 flag와 flag_null을 모두 만족하는 item_price에 대입
    result.loc[flag & flag_null, 'item_price'] = mean_data
    print(f"{_name} 작업 완료")
    return result

In [ ]:
name_list = set(df['item_name'])

In [ ]:
for name in name_list:
    df = fill_price(df, name)

In [ ]:
df.isna().sum()

In [ ]:
df.loc[df['item_name'] == '상품B', 'item_price'].mean()

In [ ]:
group_data = df[['item_name', 'item_price']].groupby('item_name')

In [ ]:
group_data.get_group('상품A')

In [ ]:
name_list2 = df2['item_name'].unique()

In [ ]:
for name in name_list2:
    fill_price(df2, name)

In [ ]:
df2.isna().sum()

In [ ]:
uriage['item_name'] = uriage['item_name'].str.upper().str.replace(" ", "")

In [ ]:
## 정렬을 item_name을 기준으로 변경 오름차순 정렬 
uriage.sort_values(['item_name', 'item_price'], inplace=True)

In [ ]:
uriage.reset_index(drop=True, inplace=True)

In [ ]:
# 현재의 행의 item_price가 결측치 이고 
flag1 = uriage['item_price'].isna()
# 전 행의 item_price가 결측치가 아닌
flag2 = ~uriage['item_price'].shift(1).isna()

In [ ]:
uriage.loc[flag1 & flag2, ]

In [ ]:
uriage['item_price'] = uriage['item_price'].fillna(method='ffill')

In [ ]:
uriage.isna().sum()

In [ ]:
uriage[['item_name', 'item_price']].groupby('item_name').mean()